.background {
    height: 100vh;
    width:100vw;
    background-color: yellow;
    margin-left: -8px;
    margin-top: -20px;
    padding-top: 150px;
}

.contents {
    margin: auto;
    border: black solid 1px;
}

.home-page {
    width: 200px;
    padding-bottom: 20px;
    text-align: center;
}

.register-page {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}

.todo-page {
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;

}

.register-input-row {
    margin-bottom: 10px;
}

.logout-button {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.todo-head::after {
    content: "";
    display: table;
    clear: both;
}

.todo-header {
    float: left;
    margin-left: 10px;
}

.todo-body {
    margin-bottom: 15px;
}

.todo-item {
    border-bottom: navy solid 2px;
    margin-top: 3px;
}

.todo-item-image {
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding-right: 10px;
    margin-left: 5px;
}

.todo-item-image-right {
    float: right;
}

.todo-complete {
    text-decoration: line-through;
}

.todo-incomplete {
    font-weight: bolder;
}

.todo-input {
    margin-left: 50px;
    margin-top: 20px;
}

.todo-button-container {
    margin-top: 15px;
    margin-left: 130px;
}

.modal-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 60%;
    background-color: black;
    left: 0;
    top: 0;
}

.edit-modal {
    height: 200px;
    width: 300px;
    background-color: white;
    position: absolute;
    left: 500px;
    top:200px;
    opacity: 100%;
    padding-left: 8px;
    padding-top: 40px;
    text-align: center;
}

.edit-modal-button-section {
    padding-left: 0px;
    margin-top: 15px;
}

.edit-modal-cancel-button {
    margin-right: 10px;
}

.edit-modal-button {
    padding: 15px;
}